<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
              <input type="text" placeholder="Username" name="username" value="{{ username }}">
            </div>
            <div>
                <input type="password" class="form-control py-3 pt-3" placeholder="**********" name="password" value="{{ password }}">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
            <p>Don't have an account?</p>
            <a href="/register">Register here</a>
        </form>
    </div>
</body>
</html>