<!DOCTYPE html>
<html>
	{% load static %}

	<head>
		<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>-->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta charset="utf-8" />
		<title>Refugee Camps Map</title>
		<link href="{% static 'css/map.css' %}" rel="stylesheet" />
	</head>
	<body>
		<div id="map"></div>
		<input type="hidden" id="myVar" name="variable" value="{{locationData}}">
		<script src="{% static 'js/map.js'%}"></script>
		<script async src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&callback=initMap&v=weekly&channel=2"></script>
	</body>
</html>
