<!DOCTYPE html>
<html>
	{% load static %}

	<head>
		<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>-->
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta charset="utf-8" />
		<title>Refugee Centers</title>
		<!-- <link href="{% static 'css/map.css'%}" /> -->
    <link href="{% static 'css/maps.css'%}" type="stylesheet" />
		<script src="{% static 'js/maps.js'%}"></script>
	</head>
	<body>
		<div id="map"></div>
		<div id="capture"></div>
		<!-- <input type="hidden" id="myVar" name="variable" value="{{GMAP_KEY}}" /> -->
		<script ></script>
		<script async src="{{GMAPlINK}}"></script>
	</body>
</html>
