<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div>
        <input type="text" placeholder="Username" name="username" value="{{ username }}">
    </div>
    <div>
        <input type="text" placeholder="Name" name="name" value="{{ name }}">
    </div>
    <div>
        <input type="email" placeholder="Email address" name="email" value="{{ email }}">
    </div>
    <div>
        <input type="password" placeholder="New password" name="password1" value="{{ password1 }}">
    </div>
    <div>
        <input type="password" placeholder="Confirm password" name="password2" value="{{ password2 }}">
    </div>
    <div>
        <button type="submit" class="btn1 my-3 mb-3">Create User</button>
    </div>
    <p >Already a user?</p>
    <a href="/">Login</a>
</form>
</body>
</html>