html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	}
  #map {
   height: 90%;
   width: 90%;
   overflow: hidden;
   /* float: left; */
   border: thin solid #333;
   }
  #capture {
   height: 360px;
   width: 480px;
   overflow: hidden;
   float: left;
   background-color: #ECECFB;
   border: thin solid #333;
   border-left: none;
   }